@tailwind base;
@tailwind components;
@tailwind utilities;

@supports (-webkit-touch-callout: none) {
  body {
    min-height: -webkit-fill-available;
  }

  html {
    height: -webkit-fill-available;
  }

  .min-height-screen-ios {
    min-height: -webkit-fill-available;
  }
}
